.active-t{
    margin: auto;
    padding: 3em;
    padding-left: 15rem !important;
    text-align: center;

    .ui.inverted.segment{
        display: inline-block;
        margin-left: 1em;
        margin-right: 1em;
    }
}