.assignment-history{
    margin: auto;
    padding: 3em;
    padding-left: 15rem !important;
    text-align: center;

    .ui.card{
        display: inline-block;
        margin-left: 1em;
        margin-right: 1em;
    }

    div.header{
        margin-top: 0.45em !important;
    }
}