.create-question{
    margin: auto;
    padding: 3em;
    padding-left: 15rem !important;
    text-align: center;
    min-height: 100vh;

    textarea{
        margin-bottom: 3em !important;
    }

    .ui.focus.input{
        margin-left:1em;
        margin-right: 1em;
        margin-bottom: 3em;
    }

    .ui.fluid.dropdown{
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .question-category-input{
        width:67%;
    }

    button.ui.animated.button{
        background-color: #1f2d3a;
        color: #ECEBE4;
    }

    label{
        padding:1em;
        background-color:#1f2d3a;
        color: #ECEBE4 !important;
        border-radius: 10px;
        margin-top: 1em;
    }

    .ui.form{
        .field{
            padding: 1em;
            border-radius: 10px;
            
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}