.create-question{
    margin: auto;
    padding: 3em;
    padding-left: 15rem !important;
    text-align: center;

    textarea{
        margin-bottom: 3em !important;
    }

    .ui.focus.input{
        margin-left:1em;
        margin-right: 1em;
        margin-bottom: 3em;
    }

    .ui.fluid.dropdown{
        margin-bottom: 3em;
    }

    .question-category-input{
        width:67%;
    }

    text-align: center;
}