.test-informations{

    margin: auto;
    padding: 3em;
    padding-left: 15rem !important;
    text-align: center;


    .ui.fluid.dropdown{
        max-width: 74vw;
        min-width: 15vw;
        margin-bottom: 2em;
    }

    .ui.checkbox{
        display: block;
        margin-top: 1.5em;
    }

    .ui.labeled.input{
        display: block;
        margin-top: 1.5em;
    }
    max-width: 70vw;

    button{
        margin-top: 2em !important;
    }
}