.questions-list{
    margin: auto;
    padding: 3em;
    padding-left: 15rem !important;
    text-align: center;
    min-height: 100vh;

    
    .ui.fluid.selection.dropdown{
        max-width: 74vw;
        min-width: 15vw;
        display: inline;
    }

    .ui.form{
        margin-bottom: 4em;
    }

    button{
        float: right;
    }

    .ui.header:first-child{
        margin-top: 1em;
    }

    .ui.header{
        margin-bottom: 2em;
    }

    .ui.right.pointing.label{
        background-color: #1f2d3a;
        color: #ECEBE4 !important;
    }
}