.existing-tests{
    margin: auto;
    padding: 3em;
    padding-left: 15rem !important;
    text-align: center;
    min-height: 100vh;

    div.header{
        margin-top: 0.45em !important;
    }

    .ui.list{
        text-align: center;
    }

    .ui.card{
        display: inline-block;
        margin-left: 1em;
        margin-right: 1em;
    }
    button.ui.button{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}