.profile-selector{
    margin: auto;
    padding: 3em;
    padding-left: 15rem !important;
    text-align: center;
    min-height: 100vh;
    color: #1f2d3a !important;

    h4{
        margin-top: 5em;
    }

    .ui.statistics{
        margin-top: 6.5em;
    }
}