.myprofile-selector{


   .ui.table{
        margin-top: 4em !important;
        margin-left:1em;
        width:55%;
        margin:auto;
        text-align: center;
    }

    margin: auto;
    padding: 3em;
    padding-left: 15rem !important;
    text-align: center;
    min-height: 100vh;
    color: #1f2d3a;
    
    
}

.ui.grid{
    margin-left: 0; 
}

.row{
    padding-bottom: 0px !important;
}