.test-info{
    margin:auto;
    text-align: center;
}

.ui.header{
    margin-top: 3em;
    margin-bottom: 2em;
}

.ui.button{
    margin-left: 0.5em;
}

button.ui.button.start-btn{
    margin-top: 2em;
}

