.row{
    background-color:#ECEBE4 !important;
}

.test-info{
    margin: auto;
    padding: 3em;
    padding-left: 15rem !important;
    text-align: center;
    min-height: 100vh;

    
    .ui.header{
        margin-top: 3em;
        margin-bottom: 2em;
    }
    
    .ui.button{
        margin-left: 0.5em;
    }
    
    button.ui.button.start-btn{
        margin-top: 2em;
    }

    button.ui.button{
        background-color: #1f2d3a;
        color:#ECEBE4 !important;
    }

    .ui.label{
        background-color: #1f2d3a;
        color:#ECEBE4 !important;
    }
}



